version: "3.9"

services:

  db:
    image: postgres:15
    container_name: taskmanager-db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    image: taskmanager-backend
    container_name: taskmanager-backend
    depends_on:
      - db
    env_file:
      - .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
    container_name: taskmanager-frontend
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  postgres_data:
